/*CABEÇALHO--------------------------------------------*/

#cabecalho{
    text-align: center;
    padding: 20px;
}

#cabecalho span{
    color: red;
    font-weight: bold;
    font-size: 30px;
}

h1{
    font-weight: bold;
    font-size: 30px;
}

#corpo{
    background-image: url(backgrond.jpg);
}

/*CABEÇALHO--------------------------------------------*/

/*CAIXA01--------------------------------------------*/

.caixas{
    background-color: white;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    margin-left: 60px;
    overflow: auto;
}

#sessao{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tit_caixa h2{
    font-size: 30px;
    color: #F8B195;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.camp_de_entrada{
    padding: 20px;
}

.camp_de_entrada h3{
    font-size: 22px;
    font-weight: bold;
    color: #F8B195;
    margin-bottom: 10px;
}

.camp_de_entrada input{
    width: 250px;
    height: 30px;
}

#alinhamento_promocao{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:center;
    text-align: start;
}

#alinhamento_promocao input{
    width: 40px;
}

#alinhamento_promocao label{
    color: #F8B195;
    font-size: 18px;
    font-weight: bold;
    margin-right: 70px;
}

#botao_salvar{
    width: 200px;
    height: 30px;
    border-radius: 15px;
    background-color: red;
    text-align: center;
    padding-top: 10px;
    color: white;
    cursor: pointer;
}

#alinhamento_botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.valor_invalido{
    color: darkred;
    text-align: center;
    padding-top: 1.5rem;
}
/*CAIXA01--------------------------------------------*/

/*CAIXA02--------------------------------------------*/

.produtos{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #F8B195;
    width: 320px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.produto{
    display: flex;
    flex-direction: column;
}

.botao_remover{
    border-radius: 5px;
    border: none;
    background-color: #F54749;
    color: #FFFFFF;
    width: 80px;
    height: 25px;
    cursor: pointer;
}

#em_promo{
    background-color: #E4B056;
}

#secao_produtos{
    overflow: auto;
}

.nome_da_comida,
.valor_da_comida{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}